* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}





